:root{
    --cor-fundo: #4B0082;
    --cor-principal: #00FF00;
    --cor-secundária:#363636;
    --cor-destaque:	#8B0000;
    --cor-texto: #FFFAFA;
}
body{
    background-color: var(--cor-fundo);
    color:var(--cor-texto);
    display:flex;
    justify-content: canter;
    align-items: center;
    min-height: 100vh;
}
.caixaprincipal{
    background-color: var(--cor-fundo);
    width: 90%;
    max-width: 600px;
}